.app {
  font-family: "Hiragino Kaku Gothic ProN","メイリオ", sans-serif;
}

.center {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login .input {
  width: 150px;
  outline: none;
}

.login .button {
  width: 60px;
  margin-left: 0.5rem;
}

.thread {

}

.messages {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 40px;
  left: 0px;

  overflow-y: scroll;
}

.message {
  padding-left: 8px;
  padding-top: 2px;
  padding-bottom: 2px;
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid #eeeeee;
}

.message .name {
  font-weight: bold;
  color: gray;
  width: 80px;
  min-width: 80px;
  text-align: right;
}

.message .text {
  padding-left: 16px;
  word-break: break-all;
}

.post {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 40px;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  background-color: #f9f9f9;
  border-top: 1px solid #dddddd;
}

.post .input {
  width: 300px;
  margin-left: 8px;
  outline: none;
}

.post .button {
  width: 60px;
  margin-left: 0.5rem;
}

.post .users {
  font-size: 0.8rem;
  color: gray;
  margin-left: 16px;
}
